body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2; 
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobby {
    width: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hobby:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.hobby img {
    width: 120px; /* Increase the width */
    height: 120px; /* Increase the height */
    margin-bottom: 10px;
    border-radius: 50%;
}

.hobby h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.home-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #f0f0f0;
}
